@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
.man{
    height: 250px;
    margin-left:55px;
    margin-top: 50px;
}
.cont{
    background:white;
    padding: 20px;
    border-radius: 20px;
    width: 410px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subtext{
    display: flex;
    align-items: center;
}
.subtext h1 {
    font-size: 20px;
    font-family: 'Outfit',sans-serif;
}
.tt{
    width: 350px;
    height: 150px;
    border-radius: 20px;
    padding: 10px;
}
.bt{
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    color: #fff;
    margin-top: 10px;
    width: 400px;
    height:50px;
    border-radius: 20px;
    padding: 10px 0;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}
.bt.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.star{
    font-size: 30px;
    transition: 2s;
}
.ll{
    padding-left: 10px;
}
.subf{
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    width: 500px;
    text-align: center;
    border-radius: 20px;
    margin-left: 470px;
}
.sh{
    color: white;
    word-spacing: 10px;
}
.feedbt{
    padding-top: 70px;
    padding-left: 523px;
}
